@namespace DashboardTrilhaEsporte.Components.routes

@using DashboardTrilhaEsporte.Components.Layout;

@using DashboardTrilhaEsporte.Domain.DTOs
@using DashboardTrilhaEsporte.Enums
@using DashboardTrilhaEsporte.Domain.Service;
@inject IJSRuntime JS

@code{

    [Parameter]
    public ResumoFinanceiroDadosDTO? financeiroDadosDTOListaCorrente {get; set;}


    [Parameter]
    public string[] labelsStatusResumoFinanceiro  {get; set;}
    [Parameter]
    public double[] dadosStatusResumoFinanceiro  {get; set;}
    [Parameter]
    public string[] labelsErrosResumoFinanceiro  {get; set;}
    [Parameter]
    public double[] dadosErrosResumoFinanceiro  {get; set;}

    private List<StatusPagamento> resumoFinaceiroStatus { get; set; } = new();

    
    [Parameter]
    public  Action< List<StatusPagamento>>? OnFiltrarAction { get; set; }

    private void AcionarFiltro(IEnumerable<StatusPagamento> selectedValues)
    {
        resumoFinaceiroStatus = selectedValues.ToList();
        OnFiltrarAction?.Invoke(resumoFinaceiroStatus);
    }

    private async Task BaixarResumoFinanceiroDTO()
    {
        var csv = CsvExportService.GeraCsvResumoFinaceiroDTO(financeiroDadosDTOListaCorrente.resumoFinanceiroDTOs);
        
        var xlsxBytes = CsvExportService.CsvToXlsx(csv);
        string fileName = $"Resumo Finaceiro_{DateTime.Now:dd-MM-yyyy_HH-mm}.xlsx";
        await JS.InvokeVoidAsync("downloadFile", fileName, xlsxBytes);
    }


}

@if(financeiroDadosDTOListaCorrente != null){


<div class="d-flex justify-content-center mb-5 mt-4" style="max-width: 100%;justify-content: space-around;">
    <MudText Typo="Typo.h4" Align="Align.Center" Class="font-weight-bold mr-3 ">Resumo dos Dados
    </MudText>
</div>


<div class="card-container">
    <MudGrid GutterSize="20px" Class="pa-4">
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="6" Style="border-radius:10px; text-align:center; padding:20px;">
                <MudCardContent Style="display:flex; flex-direction:column; align-items:center;">
                    <MudIcon Icon="@Icons.Material.Filled.Paid" Color="Color.Success" Class="me-2" />

                    <MudText Typo="Typo.h5" GutterBottom="true" Style="font-weight:bold; font-size:24px;">
                        @financeiroDadosDTOListaCorrente.valorTotalRecebido.ToString("C")
                    </MudText>
                    <MudText Typo="Typo.subtitle2" Style="font-size:16px;">
                        Soma do Valor Recebido
                    </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="6" Style="border-radius:10px; text-align:center; padding:20px;">
                <MudCardContent Style="display:flex; flex-direction:column; align-items:center;">
                    <MudIcon Icon="@Icons.Material.Filled.RequestQuote" Color="Color.Primary" Class="me-2" />

                    <MudText Typo="Typo.h5" GutterBottom="true" Style="font-weight:bold; font-size:24px;">
                        @financeiroDadosDTOListaCorrente.valorTotalReceber.ToString("C")
                    </MudText>
                    <MudText Typo="Typo.subtitle2" Style="font-size:16px;">
                        Soma do Valor a Receber
                    </MudText>
                </MudCardContent>
            </MudCard>

        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="6" Style="border-radius:10px; text-align:center; padding:20px;">
                <MudCardContent Style="display:flex; flex-direction:column; align-items:center;">
                    <MudIcon Icon="@Icons.Material.Filled.CompareArrows" Color="Color.Warning" Class="me-2" />


                    <MudText Typo="Typo.h5" GutterBottom="true" Style="font-weight:bold; font-size:24px;">
                        @financeiroDadosDTOListaCorrente.valorTotalDiferenca.ToString("C")
                    </MudText>
                    <MudText Typo="Typo.subtitle2" Style="font-size:16px;">
                        valor da diferença
                    </MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</div>
<div class="grafico-container">
    <MudPaper Class="p-6 mt-10 mb-10" Elevation="6" Style="box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); border-radius: 2%;">
        <MudGrid>
            <MudItem xs="12" md="6" Class="d-flex justify-center">
                <DonutChartComponent Data="@dadosStatusResumoFinanceiro" Labels="@labelsStatusResumoFinanceiro"
                    Title="Total de Registros" Width="350px" Height="350px" />
            </MudItem>
            <MudItem xs="12" md="6" Class="d-flex justify-center">
                <DonutChartComponent Data="@dadosErrosResumoFinanceiro" Labels="@labelsErrosResumoFinanceiro"
                    Title="Total de Registros" Width="350px" Height="350px" />
            </MudItem>
        </MudGrid>
    </MudPaper>
</div>

  <MudText Class="ml-5" Typo="Typo.h5">Filtrar por Situação do Pagamento</MudText>

 <MudCard Class="mx-auto my-5 " Style="max-width: 100%;" Elevation="4">
     <MudSelect T="StatusPagamento" MultiSelection="true" SelectedValuesChanged="AcionarFiltro"
                Style="width: 100%;  border-radius: 8px;">
                @foreach (var status in Enum.GetValues<StatusPagamento>())
                        {
                        <MudSelectItem Value="@status">@status.GetDescription()</MudSelectItem>
                        }
    </MudSelect>
    </MudCard>

<div class="table-container " style="background:rgba(255, 255, 255, 0.329)">

    <div style="max-width: 100%; overflow-x: auto; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); border-radius: 2%;">


    <div class="mb-10 mt-4" style="max-width: 100%;">
        <MudText  Typo="Typo.h4" Align="Align.Center" Class="font-weight-bold mr-3  mb-2 mt-4">
            Tabela: Dados do Resumo Financeiro
        </MudText>

        <MudButton class="ml-2" Variant="Variant.Filled" Color="Color.Success" OnClick="BaixarResumoFinanceiroDTO">
                Baixar Tabela (Xlsx)
        </MudButton>
    </div>
        <MudTable Items="financeiroDadosDTOListaCorrente.resumoFinanceiroDTOs" Hover="true" SortLabel="Ordenar por"
            Elevation="0" Bordered="true" Striped="true" FixedHeader="true">

            <HeaderContent>
                <MudTh Style="min-width: 150px; text-align: center;">
                    <MudTableSortLabel T="ResumoFinanceiroDTO" SortBy="x => x.marketplace">
                        Marketplace
                    </MudTableSortLabel>
                </MudTh>
                <MudTh Style="min-width: 150px; text-align: center;">
                    <MudTableSortLabel T="ResumoFinanceiroDTO" SortBy="x => x.codigoPedido">
                        Código Pedido
                    </MudTableSortLabel>
                </MudTh>
                <MudTh Style="min-width: 160px; text-align: center;">
                    <MudTableSortLabel T="ResumoFinanceiroDTO" SortBy="x => x.situacaoPagamento">
                        Situação do Pagamento

                    </MudTableSortLabel>
                </MudTh>
                <MudTh Style="min-width: 150px; text-align: center;">
                    <MudTableSortLabel T="ResumoFinanceiroDTO" SortBy="x => x.dataPedido">
                        Data Pedido
                    </MudTableSortLabel>
                </MudTh>
                <MudTh Style="min-width: 180px; text-align: center;">
                    <MudTableSortLabel T="ResumoFinanceiroDTO" SortBy="x => x.valorTotalProdutos">
                        Valor Total Produtos
                    </MudTableSortLabel>
                </MudTh>
                <MudTh Style="min-width: 180px; text-align: center;">
                    <MudTableSortLabel T="ResumoFinanceiroDTO" SortBy="x => x.comissaoEsperada">
                        Comissão Esperada
                    </MudTableSortLabel>
                </MudTh>
                <MudTh Style="min-width: 160px; text-align: center;">
                    <MudTableSortLabel T="ResumoFinanceiroDTO" SortBy="x => x.valorRecebido">
                        Valor Recebido
                    </MudTableSortLabel>
                </MudTh>
                <MudTh Style="min-width: 160px; text-align: center;">
                    <MudTableSortLabel T="ResumoFinanceiroDTO" SortBy="x => x.valorAReceber">
                        Valor a Receber
                    </MudTableSortLabel>
                </MudTh>
                <MudTh Style="min-width: 160px; text-align: center;">
                    <MudTableSortLabel T="ResumoFinanceiroDTO" SortBy="x => x.valorDescontado">
                        Valor Descontado
                    </MudTableSortLabel>
                </MudTh>
                <MudTh Style="min-width: 160px; text-align: center;">
                    <MudTableSortLabel T="ResumoFinanceiroDTO" SortBy="x => x.descontoFrete">
                        Desconto Frete
                    </MudTableSortLabel>
                </MudTh>

                <MudTh Style="min-width: 160px; text-align: center;">
                    <MudTableSortLabel T="ResumoFinanceiroDTO" SortBy="x => x.situacaoFinal">
                        Situação Final do Pagamento
                    </MudTableSortLabel>
                </MudTh>


            </HeaderContent>

            <RowTemplate>
                <MudTd DataLabel="Marketplace" Style="text-align: center;">@context.marketplace
                </MudTd>
                <MudTd DataLabel="Código Pedido" Style="text-align: center;">@context.codigoPedido
                </MudTd>

                <MudTd DataLabel="Situação do Pagamento" Style="text-align: center;">
                    @context.situacaoPagamento.GetDescription()</MudTd>

                <MudTd DataLabel="Data Pedido" Style="text-align: center;">
                    @context.dataPedido?.ToString("dd/MM/yyyy")</MudTd>
                <MudTd DataLabel="Valor Total Produtos" Style="text-align: center;">
                    @context.valorTotalProdutos.ToString("C")
                </MudTd>
                <MudTd DataLabel="Comissão Esperada" Style="text-align: center;">
                    @context.comissaoEsperada?.ToString("C")</MudTd>
                <MudTd DataLabel="Valor Recebido" Style="text-align: center;">
                    @context.valorRecebido.ToString("C")</MudTd>
                <MudTd DataLabel="Valor a Receber" Style="text-align: center;">
                    @context.valorAReceber.ToString("C")</MudTd>
                <MudTd DataLabel="Valor Descontado" Style="text-align: center;">
                    @context.valorDescontado.ToString("C")</MudTd>
                <MudTd DataLabel="Desconto Frete" Style="text-align: center;">
                    @context.descontoFrete.ToString("C")</MudTd>

                <MudTd DataLabel="Desconto Frete" Style="text-align: center;">
                    @context.situacaoFinal.GetDescription()</MudTd>

            </RowTemplate>

            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
            </PagerContent>

        </MudTable>
    </div>

</div>

}else{
        <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}